# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake
cmake-build-debug/.cmake
cmake-build-debug/CMakeFiles
cmake-build-debug/Testing
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/compile_commands.json
cmake-build-debug/Makefile

.idea
